################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/74d521c6-e936-42f8-8b6e-67a97761c645.vsidx
