################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/74d521c6-e936-42f8-8b6e-67a97761c645.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/a8ba0800-84f4-4737-9781-85659a39b522.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/bce2c123-ec3f-46fb-a30e-cc48388068c1.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/d3cd1969-9522-4b00-b1a8-a1362a2f7288.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/fda7a461-6e3f-4388-89be-0fa94a3fcad5.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/000b1a41-36a6-40df-893e-540a2fc404ca.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/5cdee7eb-f3b8-44f9-ba96-e126e681dc18.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/aab19b1e-dc24-4749-acbd-11536e1123c7.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/da05367e-d01e-4178-87c5-0262651a4ead.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/fe411176-48a9-497d-9301-670a4754e954.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/c4f7d62d-fa4d-4e86-872f-f929ea47ee0f.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/e3232d60-bb33-454a-a7a1-5e0dbe8501b8.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/f21e2c34-3f99-465f-9851-258311afa47c.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/f6a5af2d-cccd-4941-a811-7cd083b80e9e.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/fbfa53ad-dd1c-433c-96c6-c293bfa9edd6.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/0ee2f2d5-8385-4c9b-8adb-639da5bc05d8.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/2a92eb96-732e-481f-98c3-416084da7f92.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/58441efb-627f-4a86-8a3e-180b38f98b59.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/a4c323d5-d985-413b-ad27-7d343bc071f2.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/219cc3ed-c53d-42e5-b9de-1f8b269f88ce.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/3d42a3c0-6621-4a94-933e-6cba4bcbead3.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/402506b0-1cb5-45f9-8612-db113fc37d7d.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/a4064540-268f-422c-ad30-815bf8852565.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/faca10ed-9274-4fda-b6e0-963e5747a861.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/5269dd8f-8216-4718-b99c-9ed7047433fc.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/913b8680-fe44-47cb-88ca-0806ef60eb71.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/bdf2adf0-5869-472b-bdb5-12a19c2f35db.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/db809dfc-24e0-4ccc-aabc-d97320bd4002.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/ed8d231e-a7cf-4ac4-8203-8fddcc44427a.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/51c1489d-b332-4ade-a542-0c9408760b7c.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/77763785-ab0f-4d6d-ae48-80486def6270.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/8b7dba2e-50e2-42bb-9053-fac6af24414b.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/a6953e0d-57d6-4b23-a2ed-09253f5c05e7.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/f7b70c2b-f443-4ccb-8fc9-943eb442d200.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/5b1f3e01-69ab-4507-866f-4bc18da1783d.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/15ea3d37-c27d-4a61-ae9e-a486534f2c81.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/e08f1d27-cf9a-47c4-842c-5d5e81f949e3.vsidx
/DeductionPractice.Client/.vs/DeductionPractice.Client/FileContentIndex/f511e368-5ee1-4840-b7f4-a66b46c0f687.vsidx
